*{
    font-family: "Roboto", "Times New Roman", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button{
    background-color: #3883F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 9px;
    width: 150px;
}

.one, .two, .three, .four, .five, .six{
    display:flex;
    flex: 1;
    padding: 0 10%;
}

.three{
    flex-direction: column;
}

.one, .two, .six{
    background-color: #1F2937;
    color: #F9FAF8;
}

.three, .five{
    background-color: white;
}

.three, .four{
    padding: 0 20%;
}

.one{
    justify-content: space-between;
    align-items: center;
    height: 6%;
    flex: 0;
}

.two{
    justify-content: center;
    flex: 1 1 0;
    padding: 5%;
}

.four{
    background-color: #E5E7EB;
    padding-top: 10%;
    padding-bottom: 10%;
    flex: 1;
}

.six{
    justify-content: center;
    margin-top: auto;
    align-items: flex-end;
    height: 6%;
    padding: 2%, 0, 0, 0;
    flex: 0;
}

.logo{
    font-size: 24px;
    font-weight: 500px;
}

.links{
    font-size: 16px;
&    display: flex;
    justify-content: space-between;
    gap: 4%;
    width: 30%;
    align-items: center;
}

.twoleft{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-evenly;
}

.huge{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.img{
    width: 30%;
    height: auto;
}

.bluebox{
    background-color: #3883F6;
}

.big{
    font-size: 36px;
    color: #1F2937;
}

.em{
    font: light italic;
}

.strong{
    font-weight: bolder;
}

.big.em{
    display: flex;
    justify-content: space-between;
}

.big.strong{
    display: flex;
    justify-content: end;
}