*{
    font-family: "Roboto", "Times New Roman", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

body{
    display: flex;
    flex-direction: column;
}

.one, .two, .three, .four, .five, .six{
    display:flex;
    padding: 0 10%;
}

.three{
    flex-direction: column;
}


.one, .two, .six{
    background-color: #1F2937;
    color: #F9FAF8;
}

.one{
    justify-content: space-between;
    align-items: center;
    height: 6%;
}

.six{
    justify-content: center;
    margin-top: auto;
    align-items: flex-end;
    height: 6%;
}

.logo{
    font-size: 24px;
    font-weight: 500px;
}

.links{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    gap: 4%;
    width: 30%;
    align-items: center;
}

.two{

}